body
{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

table
{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

input[type="text"],input[type="password"],select,textarea
{
	border:solid 1px blue;
}

input:focus,textarea:focus
{
background-color:yellow;
}


.button:focus, input[type="submit"]:focus
{
background-color:none;
}

.formError1,.formError2
{
	color:red;
}

.button,.button:focus,.navigator_page_number
{
	color:white;
	border-top-color: #D9DFEA;
	border-left-color: #D9DFEA;
	border-bottom-color: #0e1f5b;
	border-right-color: #0e1f5b;
	background-color: #3b5998;
	border:solid 1px;
	color: #FFFFFF;
	font-size: 11px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	cursor:pointer;
	height:22px;
}

.enclosed
{
	border:solid 1px blue;
	padding:10px;
}

#success,.success
{
	font-weight:bold;
	color:green;
}

#fail,.fail
{
	color:red;
}

#formInfo
{
	height:30px;
}

#filename
{
	text-align:right;
	border-right:none;
	padding-right:0px;
}

#extension
{
	border:solid 1px blue;
	border-left:none;
	padding: 2px 1px 1px 0px;
}

#optgroup
{
	font-style:normal;
	font-weight:100;
	padding: 1px 2px 1px 2px;	
	background-color:#3b5998;
	color:white;
}

#files
{
	width:100px;
}

#new-button,#open-button
{
	width:48px;
}

.success
{
	font-weight:bold;
	color:green;
}

.warning
{
	font-weight:bold;
	color:blue;
}

.error
{
	font-weight:bold;
	color:red;
}

.tr1class
{
	background-color:lightsteelblue;
	color:black;
}

.tr2class
{
	background-color:white;
	color:black;
}

.tr1class:hover,.tr2class:hover
{
	background-color:yellow;
}

table td
{
	padding-left:5px;
	padding-right:10px;
	height:22px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
}

table a
{
	text-decoration:none;
	font-weight:bold;
	color:black;
}

.headerclass
{
	font-weight:bold;
	background-color:steelblue;
	color:white;
}

div.headerclass
{
	font-weight:bold;
	background-color:steelblue;
	color:white;
	padding:2px 10px 2px 10px;
	border:solid 1px white;
	border-left:none;
	border-right:none;
}

.headerclass a,.headerclass a:link,.headerclass a:visited
{
	text-decoration:none;
	color:white;
}

.orderAsc,.orderDesc
{
	border:solid 1px black;
	border-color:steelblue;
}

.orderAsc
{
	border-bottom-width:2px;
	border-top:none;
}

.orderDesc
{
	border-top-width:2px;
	border-bottom:none;
}

.orderAsc,.orderAsc a,.orderAsc a:link,.orderAsc a:visited
{
	color:steelblue;
	background-color:white;
}

.orderDesc,.orderDesc a,.orderDesc a:link,.orderDesc a:visited
{
	color:steelblue;
	background-color:white;
}

td
{
	padding-left:3px;
        border-color: black;
    border-style: solid;
}

div.tdclass
{
	padding:2px 10px 2px 10px;
	border:solid 1px white;
	border-left:none;
	border-right:none;
}

.list-link,.list-link:visited
{
	text-decoration:none;
	color:black;
}

.list-link:hover
{
	color:blue;
	text-decoration:underline;
}

img
{
	border:none;
}

.fieldset
{
	border:solid 1px black;
}

.legend
{
	font-weight:bold;
}

.vert-table-column
{
	padding:0px;
	
}

.form_error_class,.text_error_subclass
{
	font-weight:bold;
	color:red;
}

.property_img_thumb
{
	border:solid 1px #AAAAAA;
}

.mailto
{
	font-weight:normal!important;
	color:blue!important;
	text-decoration:underline!important;
}

.sys_req
{
	font-size:16px;
}

.sys_comment
{
	vertical-align:top;
	width:400px;
	padding:10px;
}

.td_sys_settings
{
	vertical-align:top;
	padding:5px;
}

.sys_table_class
{
	width:800px;
}

.server_settings
{
	color:gray;
}

.db_settings
{
	color:black;
}

.site_settings
{
	color:blue;
}

.dir_settings
{
	color:green;
}

.navigator_page_number
{	
	border:solid 1px;
	margin:2px;
	text-decoration:none;
	font-size:12px;
	padding:2px;
}

.navigator_page_number_selected
{
	border:solid 1px black;
	padding-top:5px;
	color:black;
	margin:2px;
	text-decoration:none;
	font-size:10px;
}

.tooltip
{
	border:solid 2px #3b5998;
	color:#3b5998;
	padding:5px;
	margin-bottom:20px;
}